body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.table-container {
    display: inline-block;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: right;
}

input[type="number"] {
    width: 50px;
    text-align: right;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
